In [1]:
import pandas as pd

In [2]:
content = pd.read_csv('Content.csv')
reaction = pd.read_csv('Reactions.csv')
reaction_types = pd.read_csv('ReactionTypes.csv')

In [3]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [5]:
content.dropna(inplace=True)

In [6]:
reaction.dropna(inplace=True)

In [7]:
content.info()

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  801 non-null    int64
 1   Content ID  801 non-null    object
 2   User ID     801 non-null    object
 3   Type        801 non-null    object
 4   Category    801 non-null    object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 43.8+ KB

In [8]:
reaction[reaction.isna().any(axis=1)].index

Index([], dtype='int64')

In [9]:
reaction.head(24)

,Unnamed: 0,Content ID,User ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58
6,6,97522e57-d9ab-4bd6-97bf-c24d952602d2,7918d465-0953-4f20-9e28-539e74c82e2f,peeking,2020-12-07 06:27:54
7,7,97522e57-d9ab-4bd6-97bf-c24d952602d2,fa3e42f0-71d8-455f-b024-e52d5c27a145,cherish,2021-04-11 17:35:49
8,8,97522e57-d9ab-4bd6-97bf-c24d952602d2,b0c22f82-b882-4394-bf27-6dfadf26e5c2,hate,2021-01-27 08:32:09
9,9,97522e57-d9ab-4bd6-97bf-c24d952602d2,1932a904-86ba-4438-bb52-b7e6516a4019,peeking,2021-04-01 22:54:23
11,11,97522e57-d9ab-4bd6-97bf-c24d952602d2,f50ac030-3af8-4e07-aacf-dccff353b8f6,indifferent,2020-11-07 08:36:27
12,12,97522e57-d9ab-4bd6-97bf-c24d952602d2,b09e3125-2162-443b-bea0-25895b7605bc,scared,2020-11-02 06:28:53
13,13,97522e57-d9ab-4bd6-97bf-c24d952602d2,b143cd2b-20b1-4e9c-9bb7-cfb359b33d01,interested,2020-11-01 01:16:21
14,14,97522e57-d9ab-4bd6-97bf-c24d952602d2,48e834aa-fd4a-4206-93e8-ac8fdac613bc,hate,2020-10-07 18:39:08
15,15,97522e57-d9ab-4bd6-97bf-c24d952602d2,7246fed1-8725-4dbb-bccd-5451346f122d,scared,2020-09-03 18:51:38
16,16,97522e57-d9ab-4bd6-97bf-c24d952602d2,9664d628-9163-4aae-94e0-311f3bdb2f11,super love,2021-02-24 05:09:23
17,17,97522e57-d9ab-4bd6-97bf-c24d952602d2,2dd186bb-7a28-4e80-99c7-f1936afc7b49,peeking,2020-09-23 06:24:11
18,18,97522e57-d9ab-4bd6-97bf-c24d952602d2,f4ed8f9c-5eac-4d77-a206-c60afda2921a,indifferent,2021-02-24 11:37:57
19,19,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,interested,2021-05-22 19:44:23
21,21,97522e57-d9ab-4bd6-97bf-c24d952602d2,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,peeking,2020-11-20 17:26:23
22,22,97522e57-d9ab-4bd6-97bf-c24d952602d2,c64c5004-6ab5-4faa-9fcd-8039fe57799d,worried,2021-04-11 20:47:13
23,23,97522e57-d9ab-4bd6-97bf-c24d952602d2,4cff698b-def1-497c-a78e-75058de67fe8,like,2021-06-13 16:46:06
24,24,97522e57-d9ab-4bd6-97bf-c24d952602d2,0a1cde57-79ab-4c61-b664-1d3b290b43cf,heart,2021-04-11 14:29:59
25,25,97522e57-d9ab-4bd6-97bf-c24d952602d2,afab7336-04d3-45fe-8917-0327c56e7435,worried,2021-03-02 19:21:19
26,26,97522e57-d9ab-4bd6-97bf-c24d952602d2,29ba1f29-2e45-41bd-9c43-05d0dae6c1c6,hate,2020-06-27 18:44:39

In [10]:
content.drop('Unnamed: 0', axis='columns', inplace=True)
reaction.drop('Unnamed: 0', axis='columns', inplace=True)
reaction_types.drop('Unnamed: 0', axis='columns', inplace=True)

In [11]:
content.drop('User ID', axis='columns', inplace=True)
reaction.drop('User ID', axis='columns', inplace=True)
# reaction_types.drop('Unnamed: 0', axis='columns', inplace=True)

In [12]:
content.drop('URL', axis='columns', inplace=True)

In [13]:
reaction_types.info()
content.info()
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  801 non-null    object
 1   Type        801 non-null    object
 2   Category    801 non-null    object
dtypes: object(3)
memory usage: 25.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   Type        22534 non-null  object
 2   Datetime    22534 non-null  object
dtypes: object(3)
memory usage: 704.2+ KB

In [14]:
content.head()

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [15]:
reaction_types.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [16]:
merged = reaction.merge(content, how='left')
merged

,Content ID,Type,Datetime,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,NaN
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,NaN
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,NaN
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,NaN
...,...,...,...,...
22529,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-10-31 04:50:14,NaN
22530,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,NaN
22531,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,NaN
22532,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,NaN
22533,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,NaN

In [17]:
# disgust_rows = merged[merged['Type'] == 'disgust']
# print(disgust_rows)
specific_row = merged[merged['Datetime'] == '2021-01-06 19:13:01']
print(specific_row)

                             Content ID     Type             Datetime Category
3  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2021-01-06 19:13:01      NaN

In [18]:
content.rename(columns={'Type': 'Content Type'}, inplace=True)

In [19]:
merged = reaction.merge(content)
merged

,Content ID,Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying
...,...,...,...,...,...
18379,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-10-31 04:50:14,audio,technology
18380,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology
18381,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology
18382,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology
18383,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology

In [20]:
merged[merged.isna().any(axis=1)].index

Index([], dtype='int64')

In [21]:
final_merged = merged.merge(reaction_types)
final_merged[4000:10000]

,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
4000,ed00f2a0-56a1-41f9-abad-bdcec9c0f610,interested,2021-03-14 15:27:12,video,public speaking,positive,30
4001,b3562ae0-929b-46a5-8989-89e4ac3d1f7c,interested,2021-02-14 11:44:34,photo,public speaking,positive,30
4002,b3562ae0-929b-46a5-8989-89e4ac3d1f7c,interested,2021-01-04 22:26:39,photo,public speaking,positive,30
4003,a38cf15e-6a1d-42e8-bee7-0eeb456c700b,interested,2021-01-14 06:55:15,video,travel,positive,30
4004,4d510edc-7c08-4524-a14d-f36f3b710020,interested,2021-04-26 18:05:54,GIF,fitness,positive,30
...,...,...,...,...,...,...,...
9995,f0a10ef0-89c7-46b0-828a-e9eec53a8cbe,super love,2020-08-20 04:29:15,audio,education,positive,75
9996,a6cace19-96eb-40b3-b6fb-2a1a4e444dde,super love,2020-08-31 19:12:59,photo,cooking,positive,75
9997,a6cace19-96eb-40b3-b6fb-2a1a4e444dde,super love,2021-03-09 18:05:26,photo,cooking,positive,75
9998,1b7d1f70-21dd-483b-b395-e15f4c2368f1,super love,2020-09-26 20:45:44,photo,animals,positive,75
9999,1b7d1f70-21dd-483b-b395-e15f4c2368f1,super love,2020-12-14 22:39:22,photo,animals,positive,75

In [22]:
final_merged[final_merged['Datetime'] == '2021-01-06 19:13:01']

,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0

In [23]:
final_merged['Category'].unique()

array(['Studying', 'healthy eating', 'dogs', 'public speaking', 'tennis',
       'food', 'soccer', 'education', 'studying', 'travel', 'science',
       'veganism', 'cooking', 'technology', 'animals', 'fitness',
       'culture'], dtype=object)

In [24]:
category_scores = final_merged.groupby('Category')['Score'].sum()
category_scores

Category
Studying            1176
animals            52443
cooking            49681
culture            47710
dogs               41816
education          45103
fitness            41829
food               47576
healthy eating     52745
public speaking    37730
science            53657
soccer             42031
studying           34685
technology         46683
tennis             43612
travel             53935
veganism           38513
Name: Score, dtype: int64

In [25]:
top_5_categories = category_scores.nlargest(5)
top_5_categories

Category
travel            53935
science           53657
healthy eating    52745
animals           52443
cooking           49681
Name: Score, dtype: int64

In [26]:
top_5_data = final_merged[final_merged['Category'].isin(top_5_categories.index)]
top_5_data['Category'].unique()

array(['healthy eating', 'travel', 'science', 'cooking', 'animals'],
      dtype=object)

In [27]:
output_file_path = 'E:\ML projects\Accenture\cleaned_top_5_Categories.xlsx'

In [29]:
import openpyxl

In [30]:
with pd.ExcelWriter(output_file_path) as writer:
    final_merged.to_excel(writer, sheet_name="Cleaned Dataset", index=False)
    top_5_data.to_excel(writer, sheet_name="Top 5 Categories", index=False )
output_file_path

'E:\\ML projects\\Accenture\\cleaned_top_5_Categories.xlsx'